
body {
    background-color: rgb(194, 194, 194);
    margin: 0;
    padding: 3rem;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}


.flex-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}