
body {
    background: linear-gradient(to bottom, #FFF56B, #463d2d, black);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}



.heading {
    text-align: center;
    font-size: 128px;
    padding-top: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading1 {
    color: white;
}

.heading2 {
    color: #C0B2B2;
}

.heading3 {
    color: #2D2727;
}

.heading4 {
    color: #5D4D49;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

.section {
    width: 100%;
    height: 110vh;
}

/*
.section1 { background-color: #EBDEB3; } 
.section2 { background-color: #887A7A; } 
.section3 { background-color: #4B4141; } 
.section4 { background-color: #2D2727; }
.section5 { background-color: black; }
*/

/*color*/
.white {
    color: white;
}

.title {
    font-size: 100px;
    color: white;
}

.intro {
    font-size: 20px;
    color: white;
    padding-top: 30%;
    padding-bottom: 7%;
    line-height: 30px;
}

.byplato {
    font-size: 20px;
    color: white;
}

.quotes {
    font-size: 35px;
    line-height: 50px;
    color: white;
}

.quotes_1 {
    color: white;
}

.quotes_2 {
    color: #C0B2B2;
}

.quotes_3 {
    color: #2D2727;
}

.quotes_4 {
    color: #5D4D49;
}

