
body {
    background: linear-gradient(to bottom, #ffe180, #463d2d, black);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}



.heading {
    text-align: center;
    font-size: 128px;
    padding-top: 200px;
    font-family: "meno-display", serif;
    font-weight: 700;
}
/*heading 1*/
.heading1 {
    color: black;
}
.heading1 a {
    color: inherit;
    text-decoration: none;
    position: relative;
}
.heading1 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 8px;
    background-color: black;
    transition: width 0.5s ease-in-out;
}
.heading1 a:hover::after {
    width: 100%;
}
/*heading 2*/
.heading2 {
    color: #C0B2B2;
}
.heading2 a {
    color: inherit;
    text-decoration: none;
    position: relative;
}
.heading2 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 8px;
    background-color: #C0B2B2;
    transition: width 0.5s ease-in-out;
}
.heading2 a:hover::after {
    width: 100%;
}
/*heading 3*/
.heading3 {
    color: #676767;
}
.heading3 a {
    color: inherit;
    text-decoration: none;
    position: relative;
}
.heading3 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 8px;
    background-color: #676767;
    transition: width 0.5s ease-in-out;
}
.heading3 a:hover::after {
    width: 100%;
}
/*heading 4*/
.heading4 {
    color: #473724;
}
.heading4 a {
    color: inherit;
    text-decoration: none;
    position: relative;
}
.heading4 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 8px;
    background-color: #473724;
    transition: width 0.5s ease-in-out;
}
.heading4 a:hover::after {
    width: 100%;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

.section {
    width: 100%;
    min-height: 100vh
}

/*
.section1 { background-color: #EBDEB3; } 
.section2 { background-color: #887A7A; } 
.section3 { background-color: #4B4141; } 
.section4 { background-color: #2D2727; }
.section5 { background-color: black; }
*/

/*color*/
.white {
    color: white;
}

.title {
    font-size: 100px;
    color: white;
    margin-top: 0;
}

.intro {
    font-size: 20px;
    font-family: "EB Garamond";
    color: white;
    padding-bottom: 12%;
    padding-top: 3rem;
    line-height: 30px;
}

.byplato {
    font-size: 20px;
    font-family: "poppins";
    color: white;
    
}




/*quotes*/

.quotes {
    font-size: 35px;
    line-height: 50px;
    color: white;
    font-family: "EB Garamond";
    font-weight: 500;
}

.quotes_1 {
    color: black;
}

.quotes_2 {
    color: #C0B2B2;
}

.quotes_3 {
    color: #676767;
}

.quotes_4 {
    color: #473724;
}

/*image*/
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
}

.highlight_yellow {
    color: #FFF56B;
}

.highlight_cave {
    color: #6c5437;
}

.highlight_shadow {
    color: #262525;
}

.highlight_free {
    color: white;
}
