body {
    background: linear-gradient(to bottom, #332E1F, #332E1F);
}

p {
    width: 40%;
    font-size: 25px;
    font-family: "EB Garamond";
    letter-spacing: 0.01em;
    line-height: 1.5em;
    padding-left: 20%;
    color: rgb(128, 128, 128);
}

h1 {
    font-size: 80px;
    font-family: "meno-display", serif;
    color: white;
    padding-left: 40px;
}

.G {
    width: 40%;
    font-size: 25px;
    font-family: "EB Garamond";
    padding-left: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.G1 {
    opacity: 0.35;
    transition: opacity 0.3s ease-in-out;
}

.G1:hover {
    opacity: 1;
}



.dialogue {
    opacity: 0.35;
    transition: opacity 0.3s ease-in-out;
}

.dialogue:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    display: block;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 20px;
}



/*Responsiveness*/
@media screen and (max-width: 530px) {
    p {
        width: 80%;
        font-size: 20px;
        font-family: "EB Garamond";
        letter-spacing: 0.01em;
        line-height: 1.5em;
        padding-left: 10%;
        color: rgb(128, 128, 128);
    }

.G {
    width: 60%;
    font-size: 20px;
    font-family: "EB Garamond";
    padding-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.G1 {
    opacity: 1;
}

.G1:hover {
    opacity: 1;
}

.dialogue {
    opacity: 1;
}

.dialogue:hover {
    opacity: 1;
}
}