body {
    background: linear-gradient(to bottom, #534b33, #534b33);
}

p {
    width: 40%;
    font-size: 25px;
    font-family: "EB Garamond";
    letter-spacing: 0.01em;
    line-height: 1.5em;
    padding-left: 20%;
    color: rgb(149, 149, 149);
}

h1 {
    font-size: 80px;
    font-family: "meno-display", serif;
    color: white;
    padding-left: 40px;
}

.G {
    width: 40%;
    font-size: 25px;
    font-family: "EB Garamond";
    padding-left: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.G1 {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

.G1:hover {
    opacity: 1;
}



.dialogue {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.dialogue:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    display: block;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 20px;
}